[submodule "build/actalley-CBQN-windowsdev"]
	path = build/actalley-CBQN-windowsdev
	url = https://github.com/actalley/CBQN.git
	branch = windows
[submodule "build/dzaima-CBQN-dev"]
	path = build/dzaima-CBQN-dev
	url = https://github.com/dzaima/CBQN.git
	branch = develop
